.profile {
  &__showItem {
    display: flex;
    gap: 20px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__showThumb {
    width: 130px;
    height: 70px;
    overflow: hidden;

    img {
      object-position: center;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__showInfo {
    flex: 1 0 auto;
  }

  &__showHeader {
    display: flex;
  }

  &__showTitle {
    text-decoration: none;
    color: var(--white-color);
    margin-right: 5px;
    line-height: 1.5;
  }

  &__showRating {
    margin-top: 5px;
  }

  &__showProgress {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -10px;
  }

  &__showProgressLabel {
    margin-left: auto;
    font-size: 12px;

    span {
      color: var(--accent-color);
    }
  }

  &__showProgressContainer {
    height: 3px;
    margin-top: 2px;
    background-color: var(--border-color);
  }

  &__showProgressValue {
    height: 100%;
    background-color: var(--accent-color);
  }
}

.showDead {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
  padding: 0 3px;
  font-size: 7px;
  line-height: 5px;
  background-color: rgb(75, 75, 75);
  text-transform: uppercase;
}
