.profile {
  display: flex;
  color: var(--white-color);
  gap: 20px;
}

.left {
  flex: 0 0 70%;
}

.profile__info {
  display: flex;
  flex-direction: column;
}

.profile__info .profile__username {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile__info .profile__details {
  display: flex;
  gap: 20px;
}

.profile__info .profile__avatar {
  width: 150px;
  height: 150px;
  border: 2px solid var(--info-color);
}

.profile__info .profile__avatar img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.profile__info .profile__stats {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-right: 30px;
}

.profile__shows {
  margin-top: 20px;
}

.profile__showsWrapper {
  display: flex;
  flex-direction: column;
}

.profile__showsHeader {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile__showsTabs {
  margin-bottom: 20px;
}

.profile__tabsWrapper {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.right {
  flex: 1 0;
}

.right__wrapper {
  height: 100%;
  padding: 10px;
  padding-left: 25px;
  border-left: 1px solid var(--border-color);
}

.profile__actions {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.profile__actionsHeader {
  margin-bottom: 10px;
  display: flex;
}

.profile__actionList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile__actionItem {
}

.profile__actionItemLink {
  color: var(--white-color);
  text-decoration: none;
}

.profile__friends {
}

.profile__friendsHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 10px;
}

.profile__friendsTitle {
}

.profile__friendsLink {
  color: var(--white-color);
  text-decoration: none;
}

.profile__friendsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.profile__friendContainer {
  display: flex;
  font-size: 14px;
  gap: 5px;
}

.profile__friendAvatar {
  flex: 1 0 35px;
  width: 35px;
  height: 35px;
}

.profile__friendAvatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile__friendInfo {
}

.profile__friendUsername {
  color: var(--link-color);
  text-decoration: none;
}

.profile__friendStats {
  font-size: 12px;
  color: var(--info-color);
}
