.profile__info {
  .profile__stats-progress {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .profile__progress-container {
    height: 3px;
    margin-top: 2px;
    background-color: var(--border-color);
  }

  .profile__progress-value {
    height: 100%;
    background-color: var(--accent-color);
  }
}