.header__nav {
}

.header__list {
  display: flex;
  align-items: center;
  /* gap: 30px; */
  list-style: none;
}

.header__listItem {
  display: flex;
  align-items: center;
}

.header__listItem:not(:first-child)::before {
  content: "|";
  margin: 0 10px;
  font-size: 16px;
  line-height: 16px;
  color: var(--border-color);
}

.header__itemLink {
  text-decoration: none;
  color: #dbdbdb;
  transition: color 0.3s;
}

.header__itemLink:hover {
  color: var(--white-color);
}