.header {
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__list-item {
    display: flex;
    align-items: center;

    &:not(:first-child)::before {
      content: "|";
      margin: 0 10px;
      font-size: 16px;
      line-height: 16px;
      color: var(--border-color);
    }
  }

  &__item-link {
    text-decoration: none;
    color: #dbdbdb;
    transition: color 0.3s;

    :hover {
      color: var(--white-color);
    }
  }
}