.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: 16px;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.content {
  flex: 1;
  background: linear-gradient(180deg, var(--content-background) -50%, var(--dark-background) 70%);
  padding: 20px 0;
}
