@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:wght@400;700&display=swap");

:root {
  --primary-color: #efefef;
  --accent-color: #ff0f0f;
  --accent-light-color: #ff3939;
  --border-color: #444446;
  --link-color: #fff;
  --info-color: #b1b1b1;
  --white-color: #fff;
  --content-background: #242426;
  --black-background: #000000;
  --dark-background: #161618;
  --font-color: #fff;
  --font-family: "PT Sans", sans-serif;
  --header-height: 50px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}
