.header {
  background-color: var(--content-background);
  position: sticky;
  z-index: 1000;
  border-bottom: 3px solid var(--accent-color);
  color: var(--link-color);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
  height: var(--header-height);
}

.logo {
  width: 200px;
  margin-right: 20px;
}

.logo img {
  display: block;
  max-width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  height: var(--header-height);
}

.header__right.searchActive {
  flex-grow: 2;
  max-width: 100%;
}

.header__search {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
}

.header__search.searchActive .header__searchForm {
  display: block;
  width: 100%;
}

.header__searchForm {
  display: none;
}

.header__searchInput {
  width: 100%;
  box-shadow: none;
  border-radius: 10px;
  background: var(--content-background);
  color: var(--white-color);
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  margin-left: 0;
  font-size: 13px;
}

.header__searchInput::placeholder {
  color: var(--border-color);
}

.header__searchBtn {
  position: absolute;
  top: 10px;
  right: 185px;
  border: none;
  padding: 0;
  background: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__searchBtn svg {
  width: 20px;
  height: 20px;
}

.header__searchBtn svg path {
  fill: var(--white-color);
}

.profile__user {
  cursor: pointer;
  position: relative;
}

.profile__user:hover .profile__dropdown {
  display: block;
}

.profile__userContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile__avatar {
  width: 24px;
  height: 24px;
}

.profile__avatar img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile__username {
}

.profile__username::after {
}

.profile__userContainer .icon {
  display: flex;
}

.profile__userContainer .icon svg {
  width: 12px;
  height: 12px;
  fill: var(--white-color);
}

.profile__dropdown {
  display: none;
  background-color: var(--dark-background);
  position: absolute;
  left: -15px;
  top: -13px;
  box-shadow: inset 0 0 0 hsla(0, 0%, 100%, 0.35), 0 0 10px #000;
  padding: 10px 0;
}

.profile__dropdownList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.profile__listItem {
}

.profile__listItem.profile {
  margin: 0 15px;
  padding-top: 3px;
  padding-bottom: 9px;
}

.profile__listItem.profile a {
  text-decoration: none;
  color: var(--white-color);
}

.profile__listItem.divider {
  width: 100%;
  height: 1px;
  background: var(--content-background);
  margin: 5px 0;
}

.profile__listItem .profile__link {
  display: block;
  text-decoration: none;
  color: var(--white-color);
  font-size: 13px;
  padding: 10px 15px;
}

.profile__listItem .profile__link:hover {
  background: var(--content-background);
}

.login a {
  display: block;
  text-decoration: none;
  color: var(--white-color);
  line-height: var(--header-height);
  padding: 0 20px;
}

.login a:hover {
  background-color: var(--border-color);
}